<header>
    <div class="custom-container header-container">
        <div class="logo-block">
            <a href="" class="header-logo-link"><img src="img/images/logo-color.png" alt="" class="header-logo-img"></a>
            <a href="" class="header-logo-text">учебный центр</a>
        </div>
        <div class="contacts-block">
            <p class="contacts-address">г. Запорожье ул. Рекордная 11</p>
            <div class="contacts-phone">
                <div class="contacts-img-cover">
                    <img src="img/images/phone-img.png" alt="" class="contacts-img">
                </div>
                <a href="tel:+380930991099" class="contacts-phone-link">(093)-099-1-099</a>
            </div>
        </div>
    </div>
</header>